name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    strategy:
      matrix:
        os: ["windows-2022", "ubuntu-22.04"]
    name: Tests (${{ matrix.os }}) with coverage
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          file: ./target/site/jacoco/jacoco.xml
